<nav>
  <ul>
    <li>
      <a href="/">Início</a>
    </li>
    <li>
      <a href="/desenvolvedores">Desenvolvedores</a>
    </li>
    <li>
      <a href="/generos">Gêneros</a>
    </li>
    <li>
      <a href="/plataformas">Plataformas</a>
    </li>
    <li>
      <a href="/jogos">Jogos</a>
    </li>
  </ul>
</nav>
