<nav>
  <ul>
    <li>
      <a href="/">Início</a>
    </li>
    <li>
      <a href="/desenvolvedores">Todos os desenvolvedores</a>
    </li>
    <li>
      <a href="/desenvolvedor/criar">Criar desenvolvedor</a>
    </li>
    <li>
      <a href="/generos">Todos os gêneros</a>
    </li>
    <li>
      <a href="/genero/criar">Criar gênero</a>
    </li>
  </ul>
</nav>
