<nav class="navbar navbar-expand-lg bg-primary-subtle mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Inventário</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Nav links will be rendered with the script below -->
      </ul>
    </div>
  </div>
</nav>

<script>
  window.onload = renderNavLinks = () => {
    const nav = document.querySelector(".navbar-nav");
    const navLinks = [
      { path: "/desenvolvedores", name: "Desenvolvedores" },
      { path: "/generos", name: "Gêneros" },
      { path: "/plataformas", name: "Plataformas" },
      { path: "/jogos", name: "Jogos" },
      { path: "/produtos", name: "Produtos" },
    ];

    navLinks.forEach((link) => {
      const li = document.createElement("li");
      const a = document.createElement("a");

      li.className = "nav-item";
      a.className = "nav-link";
      a.href = link.path;
      a.textContent = link.name;

      if (location.pathname === link.path) {
        a.classList.add("active");
        a.classList.add("disabled");
        a.setAttribute("aria-current", "page");
      }

      li.appendChild(a);
      nav.appendChild(li);
    });
  };
</script>
