<h1><%= title %></h1>

<a href="/jogo/criar">Criar jogo</a>

<% if (allGames.length > 0) { %>
<ul>
  <% allGames.forEach(game => { %>
  <li>
    <a href="<%= `/jogo/${game.id}` %>"><%= game.title %></a>
  </li>
  <% }) %>
</ul>
<% } else {%>
<p>
  <i> Ainda não há jogos. </i>
</p>
<% } %>
