<h1><%= title %></h1>

<a href="/plataforma/criar">Criar plataforma</a>

<% if (allPlatforms.length > 0) { %>
  <ul>
    <% allPlatforms.forEach(platform => {%>
      <li>
        <a href=<%= `/plataforma/${platform.id}` %>>
          <%= platform.name %>
        </a>
      </li>
    <% }) %>
  </ul>
<% } else {%>
  <p>
    <i>
      Ainda não há plataformas. 
    </i>
  </p>
<% } %>

